html
  head
    title #{subject}
  body
    p You have been invited to the MADALGO Soda Club. In order to login you first have to reset your password by going to <a href=#{reset_link}>#{reset_link}</a>. You can read more about the Soda Club at <a href=#{info_link}>#{info_link}</a>.
